@tailwind base;
@tailwind components;
@tailwind utilities;
/* <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'>
  <path stroke-linecap='round' stroke-linejoin='round' d='M8.25 4.5l7.5 7.5-7.5 7.5' />
</svg> */
@layer base {
  html {
    @apply bg-neutral-700
  }
}

.ahp-slider {
  -webkit-apperance: none;
  width: 100%;
  height: 15px;
  background: greenyellow;
  border: 2px solid red;
}

.ahp-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  apperance: none;
  backgroundImage: url(../../public/sliderIcon.svg);
  border: 2px solid purple;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  cursor: pointer;
}

