@tailwind base;
@tailwind components;
@tailwind utilities;
/* <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'>
  <path stroke-linecap='round' stroke-linejoin='round' d='M8.25 4.5l7.5 7.5-7.5 7.5' />
</svg> */
@layer base {
  html {
    @apply bg-neutral-700
  }
}

.ahp-slider {
  -webkit-apperance: none;
  width: 100%;
  height: .75rem;
  background: #a3a3a3;
  border: 1px solid #525252;
  border-radius: .125rem;
  box-shadow: inset 0 .2rem .3rem black;
  cursor: pointer;
}

.ahp-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  apperance: none;
  backgroundImage: url(../../public/sliderIcon.svg);
  background-color: rgb(212 212 212);
  border: .1rem solid #a3a3a3;
  width: 1.5rem;
  height: 2.5rem;
  border-radius: 10%; 
  cursor: pointer;
  box-shadow: .15rem .25rem .2rem black;
}

.ahp-slider-disabled {
  -webkit-apperance: none;
  width: 100%;
  height: .75rem;
  background: #a3a3a3;
  border: 1px solid #525252;
  border-radius: .125rem;
  box-shadow: inset 0 .2rem .3rem black;
}

.ahp-slider-disabled::-webkit-slider-thumb {
  -webkit-appearance: none;
  apperance: none;
  /* backgroundImage: url(../../public/sliderIcon.svg); */
  /* background-color: rgb(212 212 212); */
  /* border: .1rem solid #a3a3a3; */
  /* width: 1.5rem; */
  /* height: 2.5rem; */
  /* border-radius: 10%;  */
  /* cursor: pointer; */
  /* box-shadow: .15rem .25rem .2rem black; */
}
